*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.idea
/app/libs/httpclient-4.2.5.jar
/app/libs/httpcore-4.2.4.jar
/app/libs/httpmime-4.2.5.jar
/app/src/main/assets/bullying_song.mp3
/app/src/main/assets/defaultvideo.mp4
/app/src/main/java/com/melody/castle/ForgotActivity.java
/app/src/main/java/com/melody/castle/Global.java
/app/src/main/java/com/melody/castle/LoginActivity.java
/app/src/main/java/com/melody/castle/MyProfileActivity.java
/app/src/main/java/com/melody/castle/RegisterActivity.java
/app/src/main/java/com/melody/castle/ServerUtil/CustomMultipartEntity.java
/app/src/main/java/com/melody/castle/ServerUtil/DownloadFileTask.java
/app/src/main/java/com/melody/castle/ServerUtil/NetworkUtils.java
/app/src/main/java/com/melody/castle/ServerUtil/ResultCallBack.java
/app/src/main/java/com/melody/castle/ServerUtil/ServerManager.java
/app/src/main/java/com/melody/castle/ServerUtil/ServerTask.java
/app/src/main/java/com/melody/castle/ServerUtil/UpLoadFileTask.java
/app/src/main/java/com/melody/castle/ServerUtil/WebHttpUtils.java
/app/src/main/java/com/melody/castle/VerifyCodeActivity.java
/app/src/main/java/com/melody/castle/utils/AlgorithmUtils.java
/app/src/main/java/com/melody/castle/utils/AndroidUtils.java
/app/src/main/java/com/melody/castle/utils/CheckUtils.java
/app/src/main/java/com/melody/castle/utils/DataUtils.java
/app/src/main/java/com/melody/castle/utils/FileUtils.java
/app/src/main/java/com/melody/castle/utils/MessageUtils.java
/app/src/main/java/com/melody/castle/utils/MyTime.java
/app/src/main/java/com/melody/castle/utils/RegularMatcher.java
/app/src/main/res/layout/activity_forgot.xml
/app/src/main/res/layout/activity_login.xml
/app/src/main/res/layout/activity_profile.xml
/app/src/main/res/layout/activity_register.xml
/app/src/main/res/layout/activity_verifycode.xml
/app/src/main/res/drawable-v24/ic_launcher_foreground.xml
/app/src/main/res/drawable/activity_bg.png
/app/src/main/res/drawable/chapter_bg.png
/app/src/main/res/drawable/chapterend_bg.png
/app/src/main/res/drawable/ic_launcher_background.xml
/app/src/main/res/drawable/option_bg.png
/app/src/main/res/drawable/splash.png
/app/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
/app/src/main/res/mipmap-anydpi-v26/ic_launcher_round.xml
/app/src/main/res/mipmap-hdpi/ic_launcher.webp
/app/src/main/res/mipmap-hdpi/ic_launcher_round.webp
/app/src/main/res/mipmap-mdpi/ic_launcher.webp
/app/src/main/res/mipmap-mdpi/ic_launcher_round.webp
/app/src/main/res/mipmap-xhdpi/ic_launcher.webp
/app/src/main/res/mipmap-xhdpi/ic_launcher_round.webp
/app/src/main/res/mipmap-xxhdpi/ic_launcher.webp
/app/src/main/res/mipmap-xxhdpi/ic_launcher_round.webp
/app/src/main/res/mipmap-xxxhdpi/ic_launcher.webp
/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.webp
/app/src/main/res/drawable-v24/icon.png
/app/src/main/res/drawable/activity_bg.jpg
/app/src/main/res/drawable/chapter_bg.jpg
/app/src/main/res/drawable/icon.png
/app/src/main/res/drawable/option_bg.jpg
/app/src/main/res/drawable/splash.jpg
/app/src/main/res/drawable/title.png
/app/src/main/res/mipmap-anydpi-v26/icon.png
/app/src/main/res/mipmap-hdpi/icon.png
/app/src/main/res/mipmap-mdpi/icon.png
/app/src/main/res/mipmap-xhdpi/icon.png
/app/src/main/res/mipmap-xxhdpi/icon.png
/app/src/main/res/mipmap-xxxhdpi/icon.png
